<h2>Add Item</h2>

<div class="row">
    <div class="col-md-8">
        <p>Add a new item.</p><br />
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto pt-5">
            <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0 ml-5">
                    <%= form_with model: @item do |f| %>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <%= f.label :item %>
                                <%= f.text_field :name, autofocus: true, class: 'form-control' %>
                            </div>
                            <div class="form-group">
                                <%= f.label :quantity %>
                                <%= f.number_field :quantity, autofocus: true, class: 'form-control' %>
                            </div>
                            <div class="form-group">
                                <%= f.submit "Add Item", class: 'btn btn-success' %>
                            </div><br />
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>